@import '~styles/variables';

.PageWrapper {
    flex: 1;
    display: block;

    &--loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px $padding-page;
    }

    &--error {
        padding: 100px $padding-page;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
