@import '~styles/variables';

.content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: $color-lightgrey;
}

.sidebarTop {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.sidebarLogo {
    width: 100%;
}
