node_modules
.git
.gitignore
.env
.env.*
*.md
.sst
.vscode
tests
scripts
auth0
docker-compose.yml
azure-pipelines*.yml
Procfile
app.json
bun.lockb
frontend/node_modules
backend/node_modules
shared/node_modules
frontend/build
backend/build
