version: '3.8'
services:
    mongodb:
        image: mongo
        container_name: mongodb
        environment:
            - PUID=1000
            - PGID=1000
        ports:
            - 27011:27017
        volumes:
            - ../dump/alex_dump:/data/db
        restart: unless-stopped
