@import '~styles/variables';

.wrapper {
    display: flex;
    flex-direction: column;
}

.footer {
    padding: 1rem;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.listItem {
    cursor: pointer;

    .selectedIcon {
        opacity: 0;
        color: $green;
        font-size: 22px;
        transition: all 0.2s ease;
    }

    &Selected {
        .selectedIcon {
            opacity: 1;
        }
    }
}
