.FormFieldBottom {
    padding: 5px;

    &__hint {
        font-size: 14px !important;
        font-weight: bold;
    }

    &__error {
        font-size: 14px !important;
        color: red;
        font-weight: bold;
    }
}
