.sidebarTop {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebarLogo {
    width: 100%;
    object-fit: contain;
}
