@import '~styles/variables';

.top {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
        font-weight: bold;
    }
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

    .filterItem {
        margin-bottom: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        background: $lightgrey;
        margin-right: 1rem;
    }

    .filterItemLabel {
        padding-right: 1rem;
    }
}
