/* Junction brand colors */
$junction-black: #232323;
$junction-black-secondary: rgba($junction-black, 0.8);
$junction-white: #fbfbfb;
$junction-white-secondary: rgba($junction-white, 0.8);
$junction-lila: #b200b7;
$junction-lila-secondary: #770578;
$junction-orange: #f38100;
$junction-orange-secondary: #db692e;

/* Junction app colors */
$black: #000000;
$grey: #bdbdbd;
$lightgrey: #fbfbfb;
$white: #ffffff;
$green: #52d7af;
$orange: #f38100;
$orange-secondary: #db692e;

/* Misc */
$color-warning: #ff6700;
$color-error: #cc0000;
$color-lightgrey: #ececec;
