@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Montserrat:400,400i,700,700i');

@import 'colors';
@import 'sizes';
@import 'fonts';
@import 'common';

* {
    box-sizing: border-box;
    font-family: $lato;
}

html,
body {
    margin: 0;
}

html {
    font-size: 16px;
    background-color: $lightgrey;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.body {
    opacity: 1;
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Define sensible defaults for common elements */

.body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @extend %font-title;
    }

    p,
    span,
    li,
    td,
    th {
        @extend %font-body;
    }

    label,
    small {
        @extend %font-secondary;
    }

    input,
    textarea {
        @extend %font-input;
    }

    a {
        @extend %font-link;
    }

    .ant-timeline-item-head-custom {
        background: $lightgrey;
    }
}

.LoadingPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $padding-double;
    background: $junction-black;
}
