@import '~styles/variables';

.centered {
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 0 1rem;
}

.detailsCard {
    background: $junction-white;
    padding: 0;
}

.applyCard {
    background: $junction-white;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    &Title {
        color: $junction-black;
    }

    &Item {
        padding: 5px;

        &Icon {
            margin-right: 10px;
        }
    }

    .appliedText {
        padding: 1rem;
        font-weight: bold;
        text-align: center;
    }
}
