@import '~styles/variables';

.wrapper {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 13px;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
        background: rgba($black, 0.1);
    }

    &.active {
        background: rgba($black, 0.2);
    }

    .dot {
        width: 6px;
        height: 6px;
        margin: 2px;
        border-radius: 50%;
        background: grey;
    }
}
