.Divider {
    width: 1rem;
    height: 1rem;

    &-1 {
        width: 1rem;
        height: 1rem;
    }

    &-2 {
        width: 2rem;
        height: 2rem;
    }

    &-3 {
        width: 3rem;
        height: 3rem;
    }

    &-4 {
        width: 4rem;
        height: 4rem;
    }

    &-5 {
        width: 5rem;
        height: 5rem;
    }
}
