.AttendeeFilters--steps {
    &-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ant-steps-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;
    }

    .ant-steps-item .ant-steps-item-title {
        width: 100%;
    }

    .ant-steps-item .ant-steps-item-content {
        width: auto;
        padding-top: 4px;
        margin-left: 50px;
    }

    .ant-steps-item .ant-steps-item-tail {
        display: none !important;
    }

    &-icon {
        display: block;
    }
}
