@import '~styles/variables';

.wrapper {
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.preview {
    min-height: 100px;
    background: $lightgrey;
    padding: 1rem;
}
