@import '~styles/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    cursor: pointer;
    box-shadow: 2px 7px 30px rgba(0, 0, 0, 0.04);
    position: relative;
    bottom: 0px;
    transition: all 0.2s ease;

    @include for-tablet-portrait-up {
        height: 150px;
        flex-direction: row;
        align-items: stretch;
    }

    &:hover {
        bottom: 2px;
        box-shadow: 2px 7px 30px rgba(0, 0, 0, 0.12);
    }

    .image {
        height: 150px;
        width: 100%;
        background: $black;
        object-fit: cover;

        @include for-tablet-portrait-up {
            height: 150px;
            width: 160px;
        }
    }

    .content {
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;

        .eventDates {
            font-size: 16px;
            color: $black;
            text-transform: uppercase;
        }

        .eventName {
            font-size: 26px;
        }

        .eventLocation {
            font-size: 16px;
            color: $black;
        }
    }
}
