$bp-small: 600px;
$bp-med: 900px;
$bp-large: 1200px;

@mixin for-phone-only {
    @media (max-width: $bp-small - 1) {
        @content;
    }
}
@mixin for-tablet-portrait-up {
    @media (min-width: $bp-small) {
        @content;
    }
}
@mixin for-tablet-landscape-up {
    @media (min-width: $bp-med) {
        @content;
    }
}
@mixin for-desktop-up {
    @media (min-width: $bp-large) {
        @content;
    }
}

.wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 0;
    display: flex;
    background: black;
    overflow-y: scroll;

    @include for-tablet-landscape-up {
        padding: 6rem;
    }
}

.backgroundImage {
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

.content {
    background: #ececec;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    z-index: 10;
    min-height: 900px;

    @include for-desktop-up {
        flex-direction: row;
    }
}

.contentLeft {
    background: black;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    min-height: 300px;
    position: relative;

    @include for-desktop-up {
        max-height: none;
    }
}

.contentLeftLogo {
    width: 100%;
    max-width: 500px;
    object-fit: contain;
    position: relative;
    z-index: 10;
}

.contentLeftBackgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.contentRight {
    background: linear-gradient(152deg, #111, #111 15%, #343434);
    flex: 2;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include for-desktop-up {
        padding: 0 3rem;
        justify-content: center;
    }
}

.contentRightInner {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.formTitle {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.formDesc {
    text-align: center;
    color: white;
    font-weight: bold;
}

.formInput {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1.5px solid rgba(white, 0.6);
    transition: all 0.2s ease;
    color: rgba(white, 0.6);

    &:focus {
        outline: none;
        border-bottom-color: white;
        color: white;
    }
}

.checkboxWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}

.checkbox {
    margin-top: 5px;
}

.checkboxText {
    margin-left: 1rem;
    color: white;
}
