@import '~styles/variables';

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: black;
    z-index: 100;
    z-index: 1000;

    .backgroundImage {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.3;
        filter: blur(5px);
        transition: opacity 0.5s ease;

        &Submitted {
            opacity: 0.2;
        }
    }

    .scrollable {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        padding: 2rem;
    }

    .inner {
        width: 100%;
        max-width: 980px;
    }

    .registrationTop {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .registrationTopTitle {
        color: $junction-white;
        font-size: 40px;
        text-transform: uppercase;
    }

    .registrationSectionTitle {
        color: $junction-white;
        font-size: 28px;
        text-transform: uppercase;
    }

    .registrationSection {
        background: white;
        border-radius: 7px;
        padding: 1rem;
        margin-bottom: 5rem;
    }

    .registrationSectionTitle {
        color: $junction-white;
        font-size: 25px;
        text-align: center;
    }
    .submittedWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        margin: 0 auto;

        .submittedIcon {
            font-size: 40px;
            color: white;
        }

        .submittedMessage {
            color: white;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: black;
        padding: 1rem;
        z-index: 10;
    }

    .footerInner {
        width: 80%;
        max-width: 980px;
        margin: 0 auto;
    }

    .mailingListBlock {
        padding: 1rem;

        .mailingListTitle {
            color: $white;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase
        }

        .mailingListSwitch {
            background: $grey;
            width: 100px;

            &[aria-checked="true"] {
                background: $green;
            }
        }

        .mailingListBottom {
            display: flex;
            flex-direction: row;
        }

        .mailingListDescription {
            color: $white;
            font-size: 16px;
            margin-left: 10px;
        }
    }
}
