@import '~styles/variables';

.wrapper {
    background: $white;
    padding: 1rem;

    .inner {
        width: 100%;
        max-width: $content-max-width;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include for-tablet-portrait-up {
            flex-direction: row-reverse;
        }

        .copyright {
            flex: 1;
            text-align: center;

            @include for-tablet-portrait-up {
                text-align: left;
            }
        }

        .links {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include for-tablet-portrait-up {
                align-items: flex-end;
                text-align: right;
            }
        }

        .logos {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            @include for-tablet-portrait-up {
                justify-content: flex-start;
            }
        }
    }
}
