@import '~styles/variables';

.wrapper {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .completePercent {
        font-size: 20px;
        font-weight: bold;
        color: $junction-lila;
    }
}
