@import '~styles/variables';

.Image {
    max-width: 100%;
    position: relative;
    overflow: hidden;

    &[src='']::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 100;
    }
}
