.wrapper {
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.preview {
    min-height: 100px;
    background: #f8f8f8;
    padding: 1rem;
}
