.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;

    .title {
        font-weight: bold;
    }
}

.topLeft {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.5rem;
}

.toggleText {
    padding-right: 1rem;
}
