.link {
    color: #52d7af;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: #52d7af;
    }

    &.dark {
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}
