@import '~styles/variables';

.wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 4px 6px 20px #f3f3f3;

    .title {
        font-size: 18px;
        text-transform: uppercase;
        color: $black;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .body {
        font-size: 18px;
    }

    .titleExtra {
        padding-left: 5px;
    }

    .typeIcon {
        margin-right: 10px;
        font-size: 24px;

        &Info {
            color: $green;
        }

        &Warning {
            color: $junction-orange;
        }

        &Error {
            color: $color-error;
        }

        &Success {
            color: green;
        }
    }
}
