@import '~styles/variables';

.privacyClause {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    display: flex;

    .privacyClauseList {
        flex: 1;
        margin: 0;
        padding: 0;
        margin-left: 1rem;
        list-style: dot;
    }
}

.privacyClauseText {
    margin-left: 10px;
    color: $white;
    font-size: 1.1rem;
}

.privacyClauseListItem {
    color: $white;
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    &:before {
        content: '- ';
    }
}

.privacyClauseSwitch {
    background: $grey;

    &[aria-checked='true'] {
        background: $green;
    }
}
