@import '~styles/variables';

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

    .userName {
        font-size: 16px;
        color: $black;
        text-transform: uppercase;
    }
}
