@import '~styles/variables';

.OrganiserEventListItem {
    background: $junction-white;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 1px 1px 6px rgba($junction-black, 0.2);
    top: 0;
    position: relative;
    transition: all 0.2s ease;

    &:hover {
        top: -3px;
        box-shadow: 3px 3px 6px rgba($junction-black, 0.2);
    }

    &--image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        background: black;
    }

    &--content {
        padding: $padding-base;
        display: flex;
        flex-direction: column;
    }

    &--name {
        margin: 0;
    }

    &--dates {
        margin-top: $padding-base;
        margin-bottom: $padding-double;
    }
}
