@import '~styles/variables';

.button {
    background: $black;
    height: 40px;
    min-height: 40px;
    display: flex;
    padding: 0 45px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease;

    &:focus {
        outline: none;
    }

    &.buttonBlock {
        flex: 1;
        width: 100%;
        align-self: stretch;
    }

    &.buttonRound {
        border-radius: 30px;
    }

    &.buttonSmall {
        height: 36px;
        min-height: 36px;

        .button_text {
            font-size: 16px;
        }
    }

    &.buttonLarge {
        height: 48px;
        min-height: 48px;
    }

    &.buttonLoading {
        .button_text {
            padding-left: 15px;
            padding-right: 45px;
        }
        .button_spinner {
            opacity: 1;
        }
    }

    &.buttonDefault {
        background: $black;

        .button_text {
            color: $white;
            background: $black;
        }

        .button_spinner {
            color: $white;
        }
    }

    &.buttonSecondary {
        background: $lightgrey;
        border: 2px solid rgba($black, 0.4);

        &:hover {
            border: 2px solid $black;

            .button_text {
                color: $black;
            }
        }

        .button_text {
            background: $lightgrey;
            color: rgba($black, 0.8);
        }

        .button_spinner {
            color: $black;
        }
    }

    &.buttonMinimal {
        background: $white;

        .button_text {
            background: $white;
            color: $black;
        }

        .button_spinner {
            color: $black;
        }
    }

    &.buttonTransparent {
        background: transparent;

        .button_text {
            background: transparent;
            color: $white;
        }

        .button_spinner {
            color: $white;
        }
    }

    &.buttonAccent {
        background: $green;

        .button_text {
            color: $black;
            background: $green;
        }

        .button_spinner {
            color: $white;
        }
    }

    &.buttonWarning {
        background: $orange;

        .button_text {
            color: $white;
            background: $orange;
        }

        .button_spinner {
            color: $white;
        }
    }

    &.buttonDanger {
        background: $color-error;

        .button_text {
            color: $white;
            background: $color-error;
        }

        .button_spinner {
            color: $white;
        }
    }

    &.buttonDisabled {
        cursor: not-allowed;
        opacity: 0.4;
    }

    &_spinner {
        transition: all 0.2s ease;
        overflow: hidden;
        font-size: 16px;
        top: 0;
        right: 0;
        bottom: 0;
        width: 45px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        opacity: 0;
    }

    &_text {
        position: relative;
        left: 0;
        transition: all 0.2s ease;
        line-height: 20px;
        font-size: 18px;
    }
}
