@import '~styles/variables';

.FormFieldLabel {
    padding-left: 5px;

    &__required {
        color: $color-error;
    }

    &__text {
        line-height: 20px;
        position: relative;
        font-weight: bold;
        // top: 15px;
        // opacity: 0;
        transition: all 0.2s ease;
    }

    &-visible {
        .FormFieldLabel__text {
            top: 0;
            opacity: 1;
        }
    }
}
