.wrapper {
    display: flex;
    flex-direction: column;

    .sectionTitle {
        font-weight: bold;
    }

    .sectionDescription {
        font-weight: italic;
    }

    .checkboxRow {
        display: flex;
        flex-direction: row;
    }
}
